# Configuration de l'environnement Symfony
APP_ENV=dev
APP_SECRET=your-secret-key-here

# Configuration de l'URL de base
BASE_URL=https://dlpz.fr
SHORT_CODE_LENGTH=6

# Configuration de la base de données (si nécessaire)
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"

# Configuration du serveur
SERVER_PORT=3002
